In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import sklearn
import pycaret

In [2]:
a=pd.read_csv('match_loser_data_version1.csv',converters={'gameId':str})
a

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,Fail,True,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': -1, 'pickTurn': 1}, {'champion...",4247263043
1,Fail,True,True,False,False,False,False,2,0,0,0,0,0,0,"[{'championId': 875, 'pickTurn': 6}, {'champio...",4247155821
2,Fail,False,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': 110, 'pickTurn': 1}, {'champio...",4243963257
3,Fail,False,False,False,True,True,False,2,0,1,1,0,0,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4241678498
4,Fail,False,False,False,False,False,False,6,1,1,3,0,0,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4241538868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108824,Fail,True,False,False,False,False,False,3,0,0,1,0,0,0,[],4088497128
108825,Fail,False,True,False,False,True,True,3,0,0,2,0,2,0,"[{'championId': 84, 'pickTurn': 6}, {'champion...",4130964458
108826,Fail,True,True,True,False,True,True,6,1,0,3,0,1,0,"[{'championId': 107, 'pickTurn': 6}, {'champio...",4119954410
108827,Fail,False,False,False,True,True,False,5,0,1,3,0,0,0,[],4130440172
108828,Fail,True,False,True,False,False,False,4,2,0,0,0,0,0,[],4225860590

In [3]:
a['win']=0
a

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,0,True,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': -1, 'pickTurn': 1}, {'champion...",4247263043
1,0,True,True,False,False,False,False,2,0,0,0,0,0,0,"[{'championId': 875, 'pickTurn': 6}, {'champio...",4247155821
2,0,False,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': 110, 'pickTurn': 1}, {'champio...",4243963257
3,0,False,False,False,True,True,False,2,0,1,1,0,0,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4241678498
4,0,False,False,False,False,False,False,6,1,1,3,0,0,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4241538868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108824,0,True,False,False,False,False,False,3,0,0,1,0,0,0,[],4088497128
108825,0,False,True,False,False,True,True,3,0,0,2,0,2,0,"[{'championId': 84, 'pickTurn': 6}, {'champion...",4130964458
108826,0,True,True,True,False,True,True,6,1,0,3,0,1,0,"[{'championId': 107, 'pickTurn': 6}, {'champio...",4119954410
108827,0,False,False,False,True,True,False,5,0,1,3,0,0,0,[],4130440172
108828,0,True,False,True,False,False,False,4,2,0,0,0,0,0,[],4225860590

In [4]:
a=a.drop_duplicates()
a

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,0,True,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': -1, 'pickTurn': 1}, {'champion...",4247263043
1,0,True,True,False,False,False,False,2,0,0,0,0,0,0,"[{'championId': 875, 'pickTurn': 6}, {'champio...",4247155821
2,0,False,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': 110, 'pickTurn': 1}, {'champio...",4243963257
3,0,False,False,False,True,True,False,2,0,1,1,0,0,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4241678498
4,0,False,False,False,False,False,False,6,1,1,3,0,0,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4241538868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108824,0,True,False,False,False,False,False,3,0,0,1,0,0,0,[],4088497128
108825,0,False,True,False,False,True,True,3,0,0,2,0,2,0,"[{'championId': 84, 'pickTurn': 6}, {'champion...",4130964458
108826,0,True,True,True,False,True,True,6,1,0,3,0,1,0,"[{'championId': 107, 'pickTurn': 6}, {'champio...",4119954410
108827,0,False,False,False,True,True,False,5,0,1,3,0,0,0,[],4130440172
108828,0,True,False,True,False,False,False,4,2,0,0,0,0,0,[],4225860590

In [5]:
b=pd.read_csv('match_winner_data_version1.csv',converters={'gameId':str})
b

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,Win,False,True,True,False,True,True,9,1,0,3,0,2,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4247263043
1,Win,False,False,False,False,True,True,4,0,0,2,0,2,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4247155821
2,Win,True,True,True,False,True,True,5,1,0,2,0,2,0,"[{'championId': 350, 'pickTurn': 6}, {'champio...",4243963257
3,Win,True,True,False,False,False,True,6,0,1,3,0,1,0,"[{'championId': 81, 'pickTurn': 6}, {'champion...",4241678498
4,Win,True,True,True,True,True,True,11,3,2,2,0,2,0,"[{'championId': 30, 'pickTurn': 1}, {'champion...",4241538868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108824,Win,False,True,True,True,True,False,9,2,1,3,0,0,0,[],4088497128
108825,Win,True,False,False,True,False,False,5,0,1,2,0,0,0,"[{'championId': 89, 'pickTurn': 1}, {'champion...",4130964458
108826,Win,False,False,False,True,False,False,6,1,2,3,0,1,0,"[{'championId': 105, 'pickTurn': 1}, {'champio...",4119954410
108827,Win,True,True,True,False,False,False,10,2,0,2,0,0,0,[],4130440172
108828,Win,False,True,False,False,False,False,4,2,0,0,0,0,0,[],4225860590

In [6]:
b['win']=1
b

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,1,False,True,True,False,True,True,9,1,0,3,0,2,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4247263043
1,1,False,False,False,False,True,True,4,0,0,2,0,2,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4247155821
2,1,True,True,True,False,True,True,5,1,0,2,0,2,0,"[{'championId': 350, 'pickTurn': 6}, {'champio...",4243963257
3,1,True,True,False,False,False,True,6,0,1,3,0,1,0,"[{'championId': 81, 'pickTurn': 6}, {'champion...",4241678498
4,1,True,True,True,True,True,True,11,3,2,2,0,2,0,"[{'championId': 30, 'pickTurn': 1}, {'champion...",4241538868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108824,1,False,True,True,True,True,False,9,2,1,3,0,0,0,[],4088497128
108825,1,True,False,False,True,False,False,5,0,1,2,0,0,0,"[{'championId': 89, 'pickTurn': 1}, {'champion...",4130964458
108826,1,False,False,False,True,False,False,6,1,2,3,0,1,0,"[{'championId': 105, 'pickTurn': 1}, {'champio...",4119954410
108827,1,True,True,True,False,False,False,10,2,0,2,0,0,0,[],4130440172
108828,1,False,True,False,False,False,False,4,2,0,0,0,0,0,[],4225860590

In [7]:
b=b.drop_duplicates()
b

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,1,False,True,True,False,True,True,9,1,0,3,0,2,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4247263043
1,1,False,False,False,False,True,True,4,0,0,2,0,2,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4247155821
2,1,True,True,True,False,True,True,5,1,0,2,0,2,0,"[{'championId': 350, 'pickTurn': 6}, {'champio...",4243963257
3,1,True,True,False,False,False,True,6,0,1,3,0,1,0,"[{'championId': 81, 'pickTurn': 6}, {'champion...",4241678498
4,1,True,True,True,True,True,True,11,3,2,2,0,2,0,"[{'championId': 30, 'pickTurn': 1}, {'champion...",4241538868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108824,1,False,True,True,True,True,False,9,2,1,3,0,0,0,[],4088497128
108825,1,True,False,False,True,False,False,5,0,1,2,0,0,0,"[{'championId': 89, 'pickTurn': 1}, {'champion...",4130964458
108826,1,False,False,False,True,False,False,6,1,2,3,0,1,0,"[{'championId': 105, 'pickTurn': 1}, {'champio...",4119954410
108827,1,True,True,True,False,False,False,10,2,0,2,0,0,0,[],4130440172
108828,1,False,True,False,False,False,False,4,2,0,0,0,0,0,[],4225860590

In [8]:
c=a.append(b)
c

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,0,True,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': -1, 'pickTurn': 1}, {'champion...",4247263043
1,0,True,True,False,False,False,False,2,0,0,0,0,0,0,"[{'championId': 875, 'pickTurn': 6}, {'champio...",4247155821
2,0,False,False,False,False,False,False,0,0,0,0,0,0,0,"[{'championId': 110, 'pickTurn': 1}, {'champio...",4243963257
3,0,False,False,False,True,True,False,2,0,1,1,0,0,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4241678498
4,0,False,False,False,False,False,False,6,1,1,3,0,0,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4241538868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108824,1,False,True,True,True,True,False,9,2,1,3,0,0,0,[],4088497128
108825,1,True,False,False,True,False,False,5,0,1,2,0,0,0,"[{'championId': 89, 'pickTurn': 1}, {'champion...",4130964458
108826,1,False,False,False,True,False,False,6,1,2,3,0,1,0,"[{'championId': 105, 'pickTurn': 1}, {'champio...",4119954410
108827,1,True,True,True,False,False,False,10,2,0,2,0,0,0,[],4130440172
108828,1,False,True,False,False,False,False,4,2,0,0,0,0,0,[],4225860590

In [9]:
c['firstBlood']=c['firstBlood'].astype('int')
c['firstTower']=c['firstTower'].astype('int')
c['firstInhibitor']=c['firstInhibitor'].astype('int')
c['firstBaron']=c['firstBaron'].astype('int')
c['firstDragon']=c['firstDragon'].astype('int')
c['firstRiftHerald']=c['firstRiftHerald'].astype('int')
c

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,"[{'championId': -1, 'pickTurn': 1}, {'champion...",4247263043
1,0,1,1,0,0,0,0,2,0,0,0,0,0,0,"[{'championId': 875, 'pickTurn': 6}, {'champio...",4247155821
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"[{'championId': 110, 'pickTurn': 1}, {'champio...",4243963257
3,0,0,0,0,1,1,0,2,0,1,1,0,0,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4241678498
4,0,0,0,0,0,0,0,6,1,1,3,0,0,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4241538868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108824,1,0,1,1,1,1,0,9,2,1,3,0,0,0,[],4088497128
108825,1,1,0,0,1,0,0,5,0,1,2,0,0,0,"[{'championId': 89, 'pickTurn': 1}, {'champion...",4130964458
108826,1,0,0,0,1,0,0,6,1,2,3,0,1,0,"[{'championId': 105, 'pickTurn': 1}, {'champio...",4119954410
108827,1,1,1,1,0,0,0,10,2,0,2,0,0,0,[],4130440172
108828,1,0,1,0,0,0,0,4,2,0,0,0,0,0,[],4225860590

In [10]:
c['win']=c['win'].astype(int)
c

,win,firstBlood,firstTower,firstInhibitor,firstBaron,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans,gameId
0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,"[{'championId': -1, 'pickTurn': 1}, {'champion...",4247263043
1,0,1,1,0,0,0,0,2,0,0,0,0,0,0,"[{'championId': 875, 'pickTurn': 6}, {'champio...",4247155821
2,0,0,0,0,0,0,0,0,0,0,0,0,0,0,"[{'championId': 110, 'pickTurn': 1}, {'champio...",4243963257
3,0,0,0,0,1,1,0,2,0,1,1,0,0,0,"[{'championId': 523, 'pickTurn': 1}, {'champio...",4241678498
4,0,0,0,0,0,0,0,6,1,1,3,0,0,0,"[{'championId': 523, 'pickTurn': 6}, {'champio...",4241538868
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
108824,1,0,1,1,1,1,0,9,2,1,3,0,0,0,[],4088497128
108825,1,1,0,0,1,0,0,5,0,1,2,0,0,0,"[{'championId': 89, 'pickTurn': 1}, {'champion...",4130964458
108826,1,0,0,0,1,0,0,6,1,2,3,0,1,0,"[{'championId': 105, 'pickTurn': 1}, {'champio...",4119954410
108827,1,1,1,1,0,0,0,10,2,0,2,0,0,0,[],4130440172
108828,1,0,1,0,0,0,0,4,2,0,0,0,0,0,[],4225860590

In [11]:
d=pd.read_csv('breif_final.csv',converters={'Gameid':str})
d

,Unnamed: 0,Gameid,win,player1,player2,player3,player4,player5
0,0,4247263043,0.0,20.0,26.0,10.0,45.0,36.0
1,1,4247263043,1.0,34.0,31.0,21.0,15.0,43.0
2,2,4247155821,1.0,20.0,46.0,26.0,36.0,10.0
3,3,4247155821,0.0,30.0,14.0,45.0,10.0,36.0
4,4,4241678498,0.0,32.0,24.0,31.0,42.0,12.0
...,...,...,...,...,...,...,...,...
137529,137529,4170286047,0.0,20.0,20.0,36.0,33.0,45.0
137530,137530,4130964458,1.0,36.0,30.0,23.0,40.0,22.0
137531,137531,4130964458,0.0,45.0,20.0,36.0,16.0,30.0
137532,137532,4119954410,1.0,44.0,23.0,31.0,33.0,15.0
137533,137533,4119954410,0.0,34.0,15.0,21.0,31.0,42.0

In [12]:
d.columns=['haha','gameId','win','first','second','third','fourth','fifth']
d

          haha      gameId  win  first  second  third  fourth  fifth
0            0  4247263043  0.0   20.0    26.0   10.0    45.0   36.0
1            1  4247263043  1.0   34.0    31.0   21.0    15.0   43.0
2            2  4247155821  1.0   20.0    46.0   26.0    36.0   10.0
3            3  4247155821  0.0   30.0    14.0   45.0    10.0   36.0
4            4  4241678498  0.0   32.0    24.0   31.0    42.0   12.0
...        ...         ...  ...    ...     ...    ...     ...    ...
137529  137529  4170286047  0.0   20.0    20.0   36.0    33.0   45.0
137530  137530  4130964458  1.0   36.0    30.0   23.0    40.0   22.0
137531  137531  4130964458  0.0   45.0    20.0   36.0    16.0   30.0
137532  137532  4119954410  1.0   44.0    23.0   31.0    33.0   15.0
137533  137533  4119954410  0.0   34.0    15.0   21.0    31.0   42.0

[137534 rows x 8 columns]

In [13]:
d['win']=d['win'].astype(int)
d

          haha      gameId  win  first  second  third  fourth  fifth
0            0  4247263043    0   20.0    26.0   10.0    45.0   36.0
1            1  4247263043    1   34.0    31.0   21.0    15.0   43.0
2            2  4247155821    1   20.0    46.0   26.0    36.0   10.0
3            3  4247155821    0   30.0    14.0   45.0    10.0   36.0
4            4  4241678498    0   32.0    24.0   31.0    42.0   12.0
...        ...         ...  ...    ...     ...    ...     ...    ...
137529  137529  4170286047    0   20.0    20.0   36.0    33.0   45.0
137530  137530  4130964458    1   36.0    30.0   23.0    40.0   22.0
137531  137531  4130964458    0   45.0    20.0   36.0    16.0   30.0
137532  137532  4119954410    1   44.0    23.0   31.0    33.0   15.0
137533  137533  4119954410    0   34.0    15.0   21.0    31.0   42.0

[137534 rows x 8 columns]

In [14]:
d['xixi']=None

In [15]:
c['gameId'] = c['gameId'].astype(float)
c['gameId'] = c['gameId'].astype(int)

In [16]:
d['gameId'] = d['gameId'].astype(int)

In [17]:
data=pd.merge(d,c,on=['gameId','win'],how='left')

In [18]:
data

,haha,gameId,win,first,second,third,fourth,fifth,xixi,firstBlood,...,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans
0,0,4247263043,0,20.0,26.0,10.0,45.0,36.0,None,1,...,0,0,0,0,0,0,0,0,0,"[{'championId': -1, 'pickTurn': 1}, {'champion..."
1,1,4247263043,1,34.0,31.0,21.0,15.0,43.0,None,0,...,1,1,9,1,0,3,0,2,0,"[{'championId': 523, 'pickTurn': 6}, {'champio..."
2,2,4247155821,1,20.0,46.0,26.0,36.0,10.0,None,0,...,1,1,4,0,0,2,0,2,0,"[{'championId': 523, 'pickTurn': 1}, {'champio..."
3,3,4247155821,0,30.0,14.0,45.0,10.0,36.0,None,1,...,0,0,2,0,0,0,0,0,0,"[{'championId': 875, 'pickTurn': 6}, {'champio..."
4,4,4241678498,0,32.0,24.0,31.0,42.0,12.0,None,0,...,1,0,2,0,1,1,0,0,0,"[{'championId': 523, 'pickTurn': 1}, {'champio..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137529,137529,4170286047,0,20.0,20.0,36.0,33.0,45.0,None,0,...,1,0,1,0,0,1,0,0,0,"[{'championId': 157, 'pickTurn': 6}, {'champio..."
137530,137530,4130964458,1,36.0,30.0,23.0,40.0,22.0,None,1,...,0,0,5,0,1,2,0,0,0,"[{'championId': 89, 'pickTurn': 1}, {'champion..."
137531,137531,4130964458,0,45.0,20.0,36.0,16.0,30.0,None,0,...,1,1,3,0,0,2,0,2,0,"[{'championId': 84, 'pickTurn': 6}, {'champion..."
137532,137532,4119954410,1,44.0,23.0,31.0,33.0,15.0,None,0,...,0,0,6,1,2,3,0,1,0,"[{'championId': 105, 'pickTurn': 1}, {'champio..."
137533,137533,4119954410,0,34.0,15.0,21.0,31.0,42.0,None,1,...,1,1,6,1,0,3,0,1,0,"[{'championId': 107, 'pickTurn': 6}, {'champio..."

In [19]:
data.to_csv('temp.csv',index=0)

In [20]:
data=pd.read_csv('temp.csv')
data

,haha,gameId,win,first,second,third,fourth,fifth,xixi,firstBlood,...,firstDragon,firstRiftHerald,towerKills,inhibitorKills,baronKills,dragonKills,vilemawKills,riftHeraldKills,dominionVictoryScore,bans
0,0,4247263043,0,20.0,26.0,10.0,45.0,36.0,NaN,1,...,0,0,0,0,0,0,0,0,0,"[{'championId': -1, 'pickTurn': 1}, {'champion..."
1,1,4247263043,1,34.0,31.0,21.0,15.0,43.0,NaN,0,...,1,1,9,1,0,3,0,2,0,"[{'championId': 523, 'pickTurn': 6}, {'champio..."
2,2,4247155821,1,20.0,46.0,26.0,36.0,10.0,NaN,0,...,1,1,4,0,0,2,0,2,0,"[{'championId': 523, 'pickTurn': 1}, {'champio..."
3,3,4247155821,0,30.0,14.0,45.0,10.0,36.0,NaN,1,...,0,0,2,0,0,0,0,0,0,"[{'championId': 875, 'pickTurn': 6}, {'champio..."
4,4,4241678498,0,32.0,24.0,31.0,42.0,12.0,NaN,0,...,1,0,2,0,1,1,0,0,0,"[{'championId': 523, 'pickTurn': 1}, {'champio..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
137529,137529,4170286047,0,20.0,20.0,36.0,33.0,45.0,NaN,0,...,1,0,1,0,0,1,0,0,0,"[{'championId': 157, 'pickTurn': 6}, {'champio..."
137530,137530,4130964458,1,36.0,30.0,23.0,40.0,22.0,NaN,1,...,0,0,5,0,1,2,0,0,0,"[{'championId': 89, 'pickTurn': 1}, {'champion..."
137531,137531,4130964458,0,45.0,20.0,36.0,16.0,30.0,NaN,0,...,1,1,3,0,0,2,0,2,0,"[{'championId': 84, 'pickTurn': 6}, {'champion..."
137532,137532,4119954410,1,44.0,23.0,31.0,33.0,15.0,NaN,0,...,0,0,6,1,2,3,0,1,0,"[{'championId': 105, 'pickTurn': 1}, {'champio..."
137533,137533,4119954410,0,34.0,15.0,21.0,31.0,42.0,NaN,1,...,1,1,6,1,0,3,0,1,0,"[{'championId': 107, 'pickTurn': 6}, {'champio..."

In [21]:
x=pd.DataFrame(data,columns=['first','second','third','fourth','fifth'])
x
example_x = pd.read_csv('example_predict.csv')

In [22]:
x_result=x.copy()
x_result
example_x_result = example_x.copy()
example_x_result.columns = ['index','win','predict_FirstBlood','predict_firstTower','predict_firstBaron','predict_firstDragon','predict_firstRiftHerald']

In [23]:
example_x = example_x[['player1','player2','player3','player4','player5']]
example_x_result

,index,win,predict_FirstBlood,predict_firstTower,predict_firstBaron,predict_firstDragon,predict_firstRiftHerald
0,1,1,21,35,41,16,35

In [24]:
y1=data['firstBlood'].ravel()
y2=data['firstTower'].ravel()
y3=data['firstBaron'].ravel()
y4=data['firstDragon'].ravel()
y5=data['firstRiftHerald'].ravel()

In [25]:
from  sklearn.ensemble  import  GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
clf1=GradientBoostingClassifier().fit(x, y1)
cross_val_score(clf1,x,y1,cv=5).mean()

0.5518635348205397

In [26]:
x_result['predict_FirstBlood']=clf1.predict(x)
example_x_result['predict_FirstBlood']=clf1.predict(example_x)
example_x_result

,index,win,predict_FirstBlood,predict_firstTower,predict_firstBaron,predict_firstDragon,predict_firstRiftHerald
0,1,1,1,35,41,16,35

In [27]:
from  sklearn.ensemble  import  GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
clf2=GradientBoostingClassifier().fit(x, y2)
cross_val_score(clf2,x,y2,cv=5).mean()

0.6180144582804067

In [28]:
x_result['predict_firstTower']=clf2.predict(x)
example_x_result['predict_firstTower']=clf2.predict(example_x)
example_x_result

,index,win,predict_FirstBlood,predict_firstTower,predict_firstBaron,predict_firstDragon,predict_firstRiftHerald
0,1,1,1,1,41,16,35

In [29]:
from  sklearn.ensemble  import  GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
clf3=GradientBoostingClassifier().fit(x, y3)
cross_val_score(clf3,x,y3,cv=5).mean()

0.7045966811152934

In [31]:
x_result['firstBaron']=clf3.predict(x)
example_x_result['predict_firstBaron']=clf3.predict(example_x)
example_x_result

,index,win,predict_FirstBlood,predict_firstTower,predict_firstBaron,predict_firstDragon,predict_firstRiftHerald
0,1,1,1,1,0,16,35

In [32]:
from  sklearn.ensemble  import  GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
clf4=GradientBoostingClassifier().fit(x, y4)
cross_val_score(clf4,x,y4,cv=5).mean()

0.5726802139120099

In [33]:
x_result['firstDragon']=clf4.predict(x)
example_x_result['predict_firstDragon']=clf4.predict(example_x)
example_x_result

,index,win,predict_FirstBlood,predict_firstTower,predict_firstBaron,predict_firstDragon,predict_firstRiftHerald
0,1,1,1,1,0,1,35

In [34]:
from  sklearn.ensemble  import  GradientBoostingClassifier
from sklearn.model_selection import cross_val_score
clf5=GradientBoostingClassifier().fit(x, y5)
cross_val_score(clf5,x,y5,cv=5).mean()

0.5770791008054742

In [35]:
x_result['firstRiftHerald']=clf5.predict(x)
example_x_result['predict_firstRiftHerald']=clf4.predict(example_x)
example_x_result

,index,win,predict_FirstBlood,predict_firstTower,predict_firstBaron,predict_firstDragon,predict_firstRiftHerald
0,1,1,1,1,0,1,1

In [36]:
real = pd.DataFrame()

In [37]:
x_result.to_csv('predict.csv',index=0)

In [38]:
example_x_result.to_csv('example_ingame_predict.csv')

In [39]:
example_x_result.index = ['predicted']
example_x_result

,index,win,predict_FirstBlood,predict_firstTower,predict_firstBaron,predict_firstDragon,predict_firstRiftHerald
predicted,1,1,1,1,0,1,1

In [40]:
data={"index":1,"win":1,"predict_FirstBlood":1,"predict_firstTower":1,"predict_firstBaron":0,"predict_firstDragon":1,'predict_firstRiftHerald':0}
df=pd.DataFrame(data,index=['real'])

In [41]:
final = pd.concat([example_x_result,df],axis = 0)

In [42]:
final=final[['predict_FirstBlood','predict_firstTower','predict_firstBaron','predict_firstDragon','predict_firstRiftHerald','win']]

In [43]:

final

,predict_FirstBlood,predict_firstTower,predict_firstBaron,predict_firstDragon,predict_firstRiftHerald,win
predicted,1,1,0,1,1,1
real,1,1,0,1,0,1